  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Helping full time RVers fund their lifestyles!</h1>
        <p class="lead">A free board to connect workin' RVers to employers.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">RV'er Seeking</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">RV'er Wanted</button>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="/assets/images/airstream-desert.png" alt="airtream trailer in desert" width="420">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="search">
      <form>
        <select id="campgrounds" class="form-select" aria-label="Campground">
          <option selected>Select campground</option>
          <option value="1">Hanna Park</option>
          <option value="2">Santee Lake</option>
          <option value="3">Lake Moreno</option>
        </select>

      </form>

    </div>

  </div>










<ol class="post-list">
  {{#each posts as |post|}}
  <div class="container">
    <div class="row patio-header" style="background-color: #3498db">
      <div class="col-8">
        <h4 class="fw-bold">
          {{ post.title }}
        </h4>
        
      </div>
      <div class="col-4">
        <h6 class="fw-bold">
          Posted by: {{ user.username}}({{ user.brn }}) on {{ format_date post.created_at }}
        </h6>
        
      </div>
    </div>
    <div class="row patio-text" style="background-color: #ecf0f1">
      <div>
        <p>
          {{ post.message }}
        </p>
      </div>
      <div class="container">
        <div class="row">
        <div class="col">
          <a href="/post/{{id}}">{{comments.length}} {{format_plural "💬" comments.length}}</a>
        </div>
        <div class="col">
           {{post.vote_count}} {{format_plural "❤️" post.vote_count}}
        </div>  
        </div>
             
      </div>

    </div>
  </div>
  {{/each}}
</ol>
